service nvram_btwifi /system/bin/nvram_btwifi
    user root
    group system
    oneshot
    disabled

on property:sys.boot_completed=1
    start nvram_btwifi

on property:sys.nvram.btmac=*
    start vendor-btmac-sh
    restart vendor.bluetooth-1-0-qti

service vendor-btmac-sh  /vendor/bin/init.btmac.sh
    class core
    user root
    oneshot
    disabled
